$red_piece: #A60202
$blue_piece: #182FDE

html
  font-size: 14px
  font-family: Helvetica, Arial, sans-serif

#wrapper
  width: 988px
  margin: 50px auto

  h3
    margin: 5px 0 5px 2px

  .notice
    margin-left: 33px

  #error
    display: none
    color: red
    font-weight: bold
    margin-bottom: 5px

  #message
    border-bottom: 1px solid black
    padding-bottom: 5px
    margin-bottom: 15px
    font-weight: bold

    .red-player
      color: $red_piece
    .blue-player
      color: $blue_piece
    .red
      color: red
    .green
      color: green

  .vert-spots, .horz-spots
    ul
      list-style: none
      display: inline-block
      padding: 0px
      font-weight: bold
      font-size: 120%

  .vert-spots
    display: inline-block
    ul
      margin: 6px 10px 0 0
      li
        height: 65px
        margin-bottom: 1px
        vertical-align: middle
        line-height: 65px

  .horz-spots
    margin-bottom: 5px
    ul
      margin: 0 0 0 33px
      li
        float: left
        width: 65px
        margin-right: 1px
        text-align: center


  .box
    display: inline-block
    margin-top: 5px
    vertical-align: top
    width: 100%

  #rightside
    width: 280px !important

  #info, #history
    border: 1px solid black
    width: 280px

  #start
    text-align: center

  .playerstatus
    margin-bottom: 5px
    display: none

  #player-status
    h3
      color: $red_piece
  #computer-status
    border-top: 1px solid black

    h3
      color: $blue_piece

  #templates
    text-align: center

  #history
    display: none
    margin-top: 15px

    #logs
      overflow-y: scroll
      overflow-x: hidden
      max-height: 481px
      margin: 0 0 5px 2px

  #board
    width: 670px

    table
      border-width: 0 0 1px 1px
      border-style: solid
      border-color: black

      td
        border-width: 1px 1px 0 0
        border-style: solid
        border-color: black

        .piece
          height: 65px
          width: 65px
          position: relative
          top: -64px
          left: -1px

          .name, .rank
            color: white
            line-height: 100%
            font-weight: bold

          .name
            padding-top: 4px
          .rank
            font-size: 180%
            padding-top: 10px

          &.pointer
            cursor: pointer

          &.red
            background-color: $red_piece

            &.active
              background-color: #570000 !important
            &:hover
              background-color: #700000
          &.blue
            background-color: $blue_piece
            &:hover
              background-color: #000B9E

        &.spot
          background-color: #E6E6E6
          display: inline-block
          text-align: center
          vertical-align: middle
          line-height: 63px
          height: 63px
          width: 63px

        &.spot:hover
          background-color: #A6A6A6

        &.pointer
          cursor: pointer

        &.blocked
          background-color: #0C7A26 !important


