html {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif; }

#wrapper {
  width: 988px;
  margin: 50px auto; }
  #wrapper h3 {
    margin: 5px 0 5px 2px; }
  #wrapper .notice {
    margin-left: 33px; }
  #wrapper #error {
    display: none;
    color: red;
    font-weight: bold;
    margin-bottom: 5px; }
  #wrapper #message {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: bold; }
    #wrapper #message .red {
      color: red; }
    #wrapper #message .green {
      color: green; }
  #wrapper .red-player {
    color: #a60202; }
  #wrapper .blue-player {
    color: #182fde; }
  #wrapper .vert-spots ul, #wrapper .horz-spots ul {
    list-style: none;
    display: inline-block;
    padding: 0px;
    font-weight: bold;
    font-size: 120%; }
  #wrapper .vert-spots {
    display: inline-block; }
    #wrapper .vert-spots ul {
      margin: 6px 10px 0 0; }
      #wrapper .vert-spots ul li {
        height: 65px;
        margin-bottom: 1px;
        vertical-align: middle;
        line-height: 65px; }
  #wrapper .horz-spots {
    margin-bottom: 5px; }
    #wrapper .horz-spots ul {
      margin: 0 0 0 33px; }
      #wrapper .horz-spots ul li {
        float: left;
        width: 65px;
        margin-right: 1px;
        text-align: center; }
  #wrapper .box {
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
    width: 100%; }
  #wrapper #rightside {
    width: 280px !important; }
  #wrapper #info, #wrapper #history {
    border: 1px solid black;
    width: 280px; }
  #wrapper #start {
    text-align: center; }
  #wrapper .playerstatus {
    margin-bottom: 5px;
    display: none; }
    #wrapper .playerstatus ul {
      margin-top: 5px;
      padding-left: 20px; }
  #wrapper #red-status h3 {
    color: #a60202; }
  #wrapper #blue-status {
    border-top: 1px solid black; }
    #wrapper #blue-status h3 {
      color: #182fde; }
  #wrapper #templates {
    text-align: center; }
  #wrapper #history {
    display: none;
    margin-top: 15px; }
    #wrapper #history #logs {
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 481px;
      margin: 0 0 5px 2px;
      list-style: none;
      padding-left: 0px; }
      #wrapper #history #logs li .red-player, #wrapper #history #logs li .blue-player, #wrapper #history #logs li .no-player {
        font-weight: bold; }
  #wrapper #board {
    width: 670px; }
    #wrapper #board table {
      border-width: 0 0 1px 1px;
      border-style: solid;
      border-color: black; }
      #wrapper #board table td {
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color: black; }
        #wrapper #board table td .piece {
          height: 65px;
          width: 65px;
          position: relative;
          top: -64px;
          left: -1px; }
          #wrapper #board table td .piece .name, #wrapper #board table td .piece .rank {
            color: white;
            line-height: 100%;
            font-weight: bold; }
          #wrapper #board table td .piece .name {
            padding-top: 4px; }
          #wrapper #board table td .piece .rank {
            font-size: 180%;
            padding-top: 10px; }
          #wrapper #board table td .piece.pointer {
            cursor: pointer; }
          #wrapper #board table td .piece.red {
            background-color: #a60202; }
            #wrapper #board table td .piece.red.active {
              background-color: #570000 !important; }
            #wrapper #board table td .piece.red:hover {
              background-color: #700000; }
          #wrapper #board table td .piece.blue {
            background-color: #182fde; }
            #wrapper #board table td .piece.blue:hover {
              background-color: #000b9e; }
        #wrapper #board table td.spot {
          background-color: #e6e6e6;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          line-height: 63px;
          height: 63px;
          width: 63px; }
        #wrapper #board table td.spot:hover {
          background-color: #a6a6a6; }
        #wrapper #board table td.pointer {
          cursor: pointer; }
        #wrapper #board table td.blocked {
          background-color: #0c7a26 !important; }
